@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');
:root {
    --primary-color: #4daf54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    height: 100%;
    background: linear-gradient(to right, #4daf54, #3d8880);
}

.card {
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background-color: #272d40;
    padding: 20px;
    border-radius: 15px;
    color: white;
    position: relative;
}

.card__heart {
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
    cursor: pointer;
}

.card__cart {
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 15px;
    left: unset;
    cursor: pointer;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__img {
    width: 90%;
    transition: 0.5s;
}

.card__title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
    transition: 0.5s;
}

.card__price {
    font-size: 25px;
    font-weight: sold;
    text-align: center;
    transition: 0.5s;
}

.card__size {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.card__size span {
    padding: 1px 8px;
    background: #dadada;
    color: black;
    border-radius: 5px;
    margin: 0 2px;
    cursor: pointer;
}

.card__color {
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.card__color span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
}

.card__color--green {
    background: green;
}

.card__color--red {
    background: red;
}

.card__color--black {
    background: black;
}

.card__action button {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.card__action button:hover {
    transform: scale(0.9);
    transition: 0.3s;
}

.card:hover .card__img {
    transform: translateY(-90px) rotate(-20deg);
}

.card:hover .card__title {
    transition: 0.5s;
    transform: translate(-38px, -72px)
}

.card:hover .card__price {
    transition: 0.5s;
    transform: translate(-117px, -72px);
}

.card__size {
    margin-top: 150px;
}

.card__size,
.card__color,
.card__action {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.card:hover .card__size,
.card:hover .card__color,
.card:hover .card__action {
    visibility: visible;
    opacity: 100;
}

.card:hover .card__size {
    margin-top: -30px;
}